{% extends "base.html"%}
{% block title %}SREEJA || ACCOUNT {% endblock %}
{% block page %}

<style>
    .form-pass{
        width: 60%;
        margin: 15% 20% auto 20%;
    }
</style>
<div class="container">
    <form  method="post" class="form-pass text-center">{% csrf_token %}
        {% if msg%}
        <p style="color: red" id="msg">{{msg}}</p>
        <script>
            setTimeout(()=>{
                document.getElementById("msg").style.display="none";
            }, 3000);
        </script>
        {% endif %}
        <input type="text" name="old" class="form-control mt-4" placeholder="Enter old password" >
        <input type="text" name="new" class="form-control mt-4" placeholder="Enter new password">
        <input type="text" name="con" class="form-control mt-4" placeholder="Re-Enter new password">
        <input type="submit" value="Update password !" class="btn btn-primary mt-4">

    </form>
</div>

{% endblock %}